<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ch">
<head th:replace="model/head :: commonHead('修改分类')">
</head>
<body>
<div th:replace="model/banner :: banner"></div>

<div class="content">

    <div class="container">
        <!--分类管理-->
        <h2 class="h2">分类信息</h2>
        <div class="list-group list-group-alternate">
            <form th:object="${category}" th:action="@{/admin/category/__${category.id}__/update}" method="post" cssClass="news-ltr">
                <h3 class="h3" th:text="'id:'+${category.id}+' 游戏数量：'+${category.games.size()}"></h3>
                <div class="input-group input-group-lg">
                    <input type="number" th:value="${category.id}" hidden />
                    <span class="input-group-addon" id="sizing-addon1">名字</span>
                    <input type="text" name="name" th:value="${category.name}" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
                </div>
                <button type="submit" class="btn1 btn-1 btn-1b">保存</button>
            </form>
            <div class="alert alert-warning" role="alert">
                <strong th:text="${message}"></strong>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div th:replace="model/footer :: footer"></div>
</body>
</html>