target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.vscode

### IntelliJ IDEA ###
.idea/
.idea/libraries
.idea/dataSources
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/src/main/resources/db.properties
### log ###
logs/
.DS_Store
src/main/resources/application-dev.yml
