<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>

    <typeAliases>
        <typeAlias type="com.lumr.sbeam.vo.User" alias="User"/>
        <typeAlias type="com.lumr.sbeam.vo.Category" alias="Category"/>
        <typeAlias type="com.lumr.sbeam.vo.Platform" alias="Platform"/>
        <typeAlias type="com.lumr.sbeam.vo.Game" alias="Game"/>
        <typeAlias type="com.lumr.sbeam.vo.Header" alias="Header"/>
        <typeAlias type="com.lumr.sbeam.vo.Library" alias="Library"/>
        <typeAlias type="com.lumr.sbeam.vo.Review" alias="Review"/>
        <typeAlias type="com.lumr.sbeam.vo.Picture" alias="Picture"/>
    </typeAliases>

    <mappers>
        <!--<mapper resource="com/lumr/sbeam/UserDao.xml.xml"/>-->
    </mappers>
</configuration>