<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>

    <typeAliases>
        <typeAlias type="com.lumr.bbs.vo.NewUser" alias="NewUser"/>
    </typeAliases>

    <mappers>
        <mapper resource="com/lumr/bbs/dao/UserMapper.xml"/>
    </mappers>
</configuration>