<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lumr.sbeam.dao.UserDao">
    <select id="getUser" parameterType="User" resultType="User">
        select * from user
        <where>
            <if test="id != 0">
                id = #{id}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
        </where>
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (name, password, registerdate)
        VALUES (
            #{name}, #{password}, #{registerDate}
        )
    </insert>

    <update id="updateUser" parameterType="User">
        UPDATE user SET
        <if test="name != null">
            name = #{name},
        </if>
        <if test="header != null and header.id != 0">
            header_id = #{header.id},
        </if>
        <if test="password != null">
            password = #{password},
        </if>
        <if test="money >= 0">
            money = #{money}
        </if>
        WHERE id = #{id}
    </update>

    <delete id="deleteUser" parameterType="User">
        DELETE FROM user WHERE id = #{id}
    </delete>
</mapper>