<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ch">
<head th:fragment="commonHead(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link href="/public/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <link href="/public/css/style.css" rel='stylesheet' type='text/css'/>
    <link href="/public/css/style4.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/public/css/lightbox.css"/>
    <!-- Custom Theme files -->
    <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Titillium+Web:400,600,700,300' rel='stylesheet' type='text/css'>-->
    <!-- Custom Theme files -->
    <!-- jQuery (necessary JavaScript plugins) -->
    <script src="/public/js/lightbox-plus-jquery.min.js"></script>
    <script type='text/javascript' src="/public/js/jquery-3.2.1.min.js"></script>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
    </script>
</head>

</html>