<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="welcome" th:fragment="welcome">
    <div class="container">
        <div class="welcome-info">
            <h3>Welcome</h3>
            <h4>Lorem ipsum dolor sit amet consectetur adipiscing elit.</h4>
            <p>Morbi condimentum imperdiet placerat. Nullam in nisl eget turpis convallis venenatis. Cras cursus
                elementum justo nec bibendum. Donec quis nisi cursus, vestibulum elit eget, sagittis ligula.</p>
        </div>
    </div>
</div>
</body>
</html>